@import 'bootstrap';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

.products {
  align-items: center;
}

.product-format {
  display: flex;
  flex-wrap: wrap;
  a {
    margin: 24px;
    width: 200px;
    height: 200px;
    > div {
      color: black;
      text-align: center;
      padding: 8px;
      width: 100%;
      height: 100%;
      h5 {
        padding-top: 16px;
      }
      p {
        padding-bottom: 6px;
      }
    }
  }
  a:hover {
    text-decoration: none;
  }
  div:hover {
    background-color: rgb(243, 243, 243);
  }
}

.product-listing {
  p {
    padding-left: 900px;
  }
}

.media-body {
  padding-left: 900px;
  padding-right: 350px;
}

body {
  margin: 15;
  min-height: 100%;
}

ul.timeline {
  // list-style-type: none;
  // position: relative;

  &:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    height: 100%;
  }

  &:before {
    content: ' ';
    background: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
  }
}
